<nav class="navbar navbar-toggleable-md navbar-light bg-faded body">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="about">
    <h1>Renote</h1>
    <h2 id="subheader">Convert handwriting to text with ease!</h2>
  </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let link of linksL" class="nav-item active selectable">
        <a class="nav-link" routerLink="{{link[0]}}" routerLinkActive="active">{{link[1]}}</a>
      </li>
    </ul>

    <div *ngIf="!loggedIn">
      <a routerLink="login" style="color: black">signup or signin</a>
    </div>

    <div *ngIf="loggedIn" class="navbar" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let link of linksR" class="nav-item active selectable">
          <a class="nav-link" routerLink="{{link[0]}}" routerLinkActive="active">{{link[1]}}</a>
        </li>
        <li>
          <div class="dropdown right-text" id="profile-card">
            <a class="nav-link dropdown-toggle selectable" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="color: black"> 
          {{dispName}}
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="profile">Your Profile</a>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>


    </div>
  </div>
</nav>