.body {
  background-color:	rgba(0, 188, 185, 1);

}

.selectable:hover{
 background:rgba(255,255,255, 0.75);
 border-radius: 10px; 
}

#subheader {
  font-size: 100%;
}
#profile-card{
  margin-right: 80px;
}
.dispName{
  cursor: pointer;
}
.dispName:hover{
  background:rgba(255,255,255, 0.75);
  border-radius: 10px; 
}