<div class="component">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <app-chat-box></app-chat-box>
      </div>
      <div class="col-4">
        <div *ngIf="seeProfile">
          <button type="text" (click)="doneInquiring()" class="btn btn-seccess">Back</button>
          <app-inquire-profile></app-inquire-profile>
        </div>
        <div *ngIf="!seeProfile">
          <h4>Online Users</h4>
          <div *ngFor="let user of users | async" class="user">
            <span (click)="checkoutProfile(user.$key)">
                  {{user.username}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>