<h2>Message Board</h2>

<div>
  <ul id="message-list">
    <li *ngFor="let message of messages | async" class="message">
      <div (click)="setInquireUser(message.uid)">
        <span class="username">{{message.username}}</span>
        <p class="body">{{message.body}}</p>
      </div>
    </li>
  </ul>
</div>

<div>
  <h4>Add a Comment</h4>
  <textarea class="form-control" rows="4" [(ngModel)]="newMessage"></textarea>
  <button type="button" (click)="submit()" class="btn btn-seccess">Submit</button>
</div>
