<div class="component">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="input-box">
          <h4>Name</h4>
          <input type="text" class="form-control" pattern=".{1,40}"  [(ngModel)]="checkname">
          <div *ngIf="!checkUname(checkname)" class="alert alert-danger">
            Username is taken
          </div>
        </div>
        <div class="input-box">
          <h4>Bio</h4>
          <textarea class="form-control" rows="7" [(ngModel)]="bio"></textarea>
        </div>
        <div class="input-box table">
          <tr>
            <td>
              <button class="btn btn-seccess" type="button" (click)="updateProfileData()" [disabled]="!checkUname(checkname)">Update Profile</button>
            </td>
            <td>
              <div *ngIf="confirmUpdate" id="success">
                <p>✓</p>
              </div>
            </td>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>