.attribute-container{
  border: 2px solid lightblue;
  max-width: 500px;
  margin: 2%;
  border-radius: 5px;
}

#success{
    font-size: 162%;
    color: white;
    background-color: #4BB543;
    border-radius: 100%;
    padding: 0px 7px 0px 10px;
    margin: 0 0 -17px 0;
}